services:
  - type: web
    name: web-desktop
    env: docker
    dockerfilePath: ./Dockerfile
    plan: free
    healthCheckPath: /
    envVars:
      - key: VNC_PASSWORD
        generateValue: true
