services:
  - type: web
    name: browser-rdp
    env: docker
    dockerfilePath: ./Dockerfile
    plan: free
    envVars:
      - key: PORT
        value: 8080
    healthCheckPath: /health
    autoDeploy: true
